body {
    padding-bottom: 40px;
    padding-top: 51px;
    color: #5a5a5a;
}

.info {
    float: left;
    width: 55%;
}

.prices {
    float: right;
    margin-left: 10px;
    width: 40%;
}

.container.reviews {
    border-top: 1px solid #8a8a8a;
    margin-top: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.logout {
    float: right;
    padding: 5px 8px;
    margin-top: 7px;
}

.navbar {
    background-image: linear-gradient(to bottom,#008a8a 0,#055 100%);
}

.navbar-inverse .navbar-brand {
    color: #E8E8E8;
}

.navbar-inverse .navbar-nav > .active > a {
    background-image: linear-gradient(to bottom,#055 0,#008a8a 100%);
}
